<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/*" href="/assets/favicon.png">
	<title>Component Templates | Confusion</title>
</head>
<body>
	
	<template id="nav">
		<nav>
			<div class="site">
				<img src="/assets/emoji/brain.svg">
				<h1>Confusion</h1>
			</div>
			<div class="links">
				<a class="item" href="/projects/new">Create</a>
				<a class="item" href="/home#whatisthisplace">About</a>
				<a class="item" href="/projects">Projects</a>
			</div>
			<script>
				var nav = document.querySelector("nav");
				var logoLink = document.querySelector("nav div.site");
				function onscroll(){
					let scrollY = window.scrollY;
					nav = document.querySelector("nav");
					if(!nav) return;
					nav.classList.add("solid");

					window.onscroll = () => {};
					window.onresize = () => {};
					if(scrollY >= 80){
						nav.classList.add("solid");
					}else{
						nav.classList.remove("solid");
					}
				}
				if(localStorage.getItem("nav-always-solid") == null){
					window.addEventListener("scroll", onscroll);
					window.addEventListener("resize", onscroll);
					onscroll();
				}else{
					nav.classList.add("solid");
				}
				localStorage.removeItem("nav-always-solid");

				logoLink.style.cursor = "pointer";
				logoLink.onclick = () => {
					window.location.href = "/";
				}
			</script>
		</nav>
	</template>

	<template id="cool_grid">
		<div class="grid">
			<div class="card"></div>
			<div class="card"></div>
			<div class="card"></div>
			<div class="card"></div>
			<div class="card"></div>
			<div class="card"></div>
			<div class="card"></div>
			<div class="card"></div>
			<div class="card"></div>
		</div>
		<script src="/styles/redo/cool_grid.js"></script>
	</template>

	<template id="header">
		<header>
			<div class="title">
				<img id="icon" src="/assets/favicon.png">
				<h1 id="title">Projects Page</h1>
			</div>
		</header>
	</template>

	<template id="projects">
		<aside>
			<section>
				<h1>Recently Updated</h1>
				<div>
					<a href="/projects/view?project=toolkit">Toolkit</a>
					<a href="/projects/view?project=components">Components</a>
					<a href="/projects/view?project=testing_page">Testing Page</a>
				</div>
			</section>
			<section>
				<h1>Newly Created</h1>
				<div>
					<a href="/projects/view?project=toolkit">Toolkit</a>
					<a href="/projects/view?project=components">Components</a>
					<a href="/projects/view?project=iso-world">Iso-world</a>
					<a href="/projects/view?project=pixjs">Pix-JS</a>
					<a href="/projects/view?project=js_node">JS Node Viewer</a>
					<a href="/projects/view?project=faker_banker">Faker Banker</a>
					<a href="/projects/view?project=asterisk">Asterisk</a>
					<a href="/projects/view?project=confusion">Confusion</a>
				</div>
			</section>
		</aside>
	</template>

	<template id="footer">
		<footer>
			<a class="title item" href="/">
				<img src="/assets/favicon.png">
				<h1>Confusion</h1>
			</a>
		
			<a href="https://github.com/Dev-384/confusion-website" target="_blank" stylize="false" class="link item">
				GitHub
				<img src="/assets/github/github-mark-white.svg">
			</a>
		</footer>
	</template>
</body>
</html>