<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/*" href="/assets/favicon.png">
	<title>Component Templates | Confusion</title>
</head>
<body>
	<template id="header">
		<header>
			<div class="title">
				<img id="icon" src="/assets/favicon.png">
				<h1 id="title">Projects Page</h1>
			</div>
		</header>
	</template>

	<template id="projects">
		<aside>
			<section>
				<h1>Recently Updated</h1>
				<div>
					<a href="/projects/view?project=testing_page">Testing Page</a>
				</div>
			</section>
			<section>
				<h1>Newly Created</h1>
				<div>
					<a href="/projects/view?project=iso-world">Iso-world</a>
					<a href="/projects/view?project=pixjs">Pix-JS</a>
					<a href="/projects/view?project=js_node">JS Node Viewer</a>
					<a href="/projects/view?project=faker_banker">Faker Banker</a>
					<a href="/projects/view?project=asterisk">Asterisk</a>
					<a href="/projects/view?project=confusion">Confusion</a>
				</div>
			</section>
		</aside>
	</template>

	<template id="footer">
		<footer>
			<a class="title" href="/">
				<img src="/assets/favicon.png">
				<h1>Confusion</h1>
			</a>
		
			<div>
				<a href="https://github.com/Dev-384/confusion-website" target="_blank" stylize="false" class="link">
					GitHub
					<img src="/assets/github/github-mark-white.svg">
				</a>
			</div>
		</footer>
	</template>
</body>
</html>