@import url("./theme.css");

#project-list {
	display: grid;
	width: 100%;
	height: max-content;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, 225px);
	container-type: inline-size;
}
.icon {
	position: relative;
	cursor: pointer;
}

.card {
	position: relative;
	border-radius: 1rem;
	padding: 1rem 1rem !important;
}
.card h4 {
	margin: 0px !important;
	max-width: calc(100% - 72px);
	max-height: calc(100%);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	/* text-wrap: wrap;
	overflow-wrap: break-word;
	overflow-y: hidden; */
}

@media (width > 800px) {
	#project-list > * {
		height: 145px;
	}
	.card .options {
		position: absolute;
		bottom: 1rem;
		right: 1rem;
	}
	.icon:not(:first-child) {
		margin-left: 0.5rem;
	}
}

@media (width <= 800px) {
	#project-list {
		grid-template-columns: 1fr;
	}
	#project-list > * {
		height: 108.75px;
	}
	.card .options {
		position: absolute;
		bottom: 1rem;
		left: 1rem;
	}
	.icon:not(:last-child) {
		margin-right: 0.5rem;
	}
}

.material-symbols-outlined {
	font-variation-settings:
	'FILL' 1,
	'wght' 400,
	'GRAD' 0,
	'opsz' 24
}
#panel-holder .hide {
	display: none !important;
}

.editor-toolbar a {
	color: red;
}

.project-icon {
	position: absolute;
	--scale: 1;
	top: 1rem;
	right: 1rem;
	scale: 3;
	transform-origin: top right;
	background-color: var(--primary);
}

section {
	display: inline-flex;
	flex-direction: row;
	gap: 1rem;
}
@media only screen and (width < 500px) {
	section {
		flex-direction: column;
	}
}