@import url("../fonts/fonts.css");
:root {
	--random-grid-size: 15rem;
}

@media (prefers-color-scheme: light) {
	:root {
		--text: #000000;
		--background: #ebebeb;
		--background-other: #dbdbdb;
		--primary: #8d0202;
		--secondary: #4d0000;
		--accent: #3f8d4d;
		color-scheme: light;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--text: #ffffff;
		--background: #151515;
		--background-other: #232323;
		--primary: #fd7170;
		--secondary: #ffb3b3;
		--accent: #72bf80;
		color-scheme: dark;
	}
}

html { 
	scroll-behavior: smooth;
}
body {
	background-color: var(--background);
	color: var(--text);
	font-family: "JetBrains Mono", 'Courier New', Courier, monospace;
	background-size: auto 100vh;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-repeat: no-repeat;
	background-position: top left;
}
nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 5.5rem;
	background-color: var(--background);
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 0px 1rem;
	z-index: 100;
	transition: background-color, height;
	transition-duration: 400ms;
}
nav.solid {
	background-color: color-mix(in srgb, var(--background), black 50%);
	height: 5rem;
}
@media (prefers-color-scheme: light){
	nav {
		background-color: color-mix(in srgb, var(--background) 90%, transparent);
	}
	nav:after {
		content: "";
		position: absolute;
		top: calc(5rem - 5px);
		left: 1rem;
		width: calc(100% - 2rem);
		height: 10px;
		background-color: var(--primary);
		border-radius: 5px;
		opacity: 0;
		transition: opacity, transform;
		transition-duration: 400ms;
	}
	nav.solid {
		background-color: var(--background);
	}
	nav.solid:after {
		opacity: 1;
	}
}
nav div.site {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
}
nav div.site h1 {
	display: inline-block;
	margin: 0px;
}
nav div.site img {
	height: 3rem;
}
h1, h2 {
	font-family: 'Cairo Play', 'Courier New', Courier, monospace;
}
h2 {
	text-decoration: underline;
	text-decoration-color: #72bf80;
}
p { margin: 0px; }
h2:before {
	content: "## ";
	color: #72bf80;
}
div.separator {
	display: block;
	background: var(--accent);
	height: 10px;
	width: 100%;
	border-radius: 5px;
}

a.item {
	font-size: large;
	position: relative;
	color: var(--text);
	text-decoration: none;
	margin: 0px 0px 0px 2rem;
}
a.item:after {
	content: "";
	position: absolute;
	left: 0px;
	bottom: -5px;
	background-color: var(--accent);
	border-radius: 2.5px;
	width: 0%;
	height: 5px;
	opacity: 0;
	transform: translate(0px, 5px);
	transform-origin: top left;
	transition: opacity, transform, width;
	transition-duration: 400ms;
}
a.item:hover:after {
	opacity: 1;
	transform: translate(0px, 0px);
	width: 100%;
}
a[href]:not(a.item),
a[onclick]:not(a.item),
.button:not(.item) {
	font-family: "JetBrains Mono";
	display: inline-block;
	width: max-content;
	box-sizing: border-box;
	padding: 0.5rem 1rem;
	background: var(--primary);
	border-radius: 1rem;
	color: var(--text);
	text-decoration: none;
	transition: background;
	transition-duration: 400ms;
	cursor: pointer;
	outline: var(--accent);
	border: none;
}
a[href]:active {
	cursor:wait;
}
a[href]:not(a.item, a.disabled):hover,
a[onclick]:not(a.item, a.disabled):hover,
.button:not(.item, .disabled):hover {
	background: var(--secondary);
	color: var(--background);
}
a.disabled[href]:not(a.item),
a.disabled[onclick]:not(a.item),
.button.disabled:not(a.item) {
	background: color-mix(in srgb, var(--primary), rgb(127.5, 127.5, 127.5) 75%);
	color: var(--background);
	cursor: no-drop;
}