@import url("./fonts/cairo_play.css");
:root {
	--background: #151515;
	--section-background: #232323;
	--sidebar-width: 20rem;
	--border-radius: 2rem;
	--padding: 1rem;

	/* --background: #1c1616;
    --section-background: #2f2626; */

	color-scheme: dark;
}

html {
	padding: 0px;
	margin: 0px;
}
body {
	margin: 0px;
	background: var(--background);
	padding: var(--padding);
	top: 0px;
	left: 0px;
	box-sizing: border-box;
	font-family: "Cairo Play";
}

header {
	position: relative;
	background: var(--section-background);
	border-radius: var(--border-radius);
	padding: var(--padding);
	box-sizing: border-box;
	display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
header a {
	position: absolute;
	min-width: max-content;
	bottom: var(--padding);
	right: var(--padding);
	border-radius: calc(var(--border-radius) - var(--padding) ) !important;
}
header img {
	width: 138px;
	height: 138px;
}
header h1 {
	width: max-content;
	color: white;
	font-size: 5rem;
	height: 138px;
	line-height: 138px;
    margin: 0px;
    font-weight: 900;
}

p, div.code, code {
	font-size: 16px;
}
div.code, code {
	position: relative;
	display: inline-block;
	font-family: monospace;
	font-weight: normal;
	border: 1px solid hsl(225 calc( 1 * 6.3%) 12.5% / 1);
	background: hsl(220 calc( 1 * 6.5%) 18%);
	padding: 0.5rem;
	border-radius: calc(var(--border-radius) - var(--padding));
}
code:is(.md, .js)::before {
	content: "File";
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	display: block;
	width: 100%;
	top: 0px;
	left: 0px;
	padding: 0.5rem 2rem;
	box-sizing: border-box;
	border-top-left-radius: calc(var(--border-radius) - var(--padding) - 1px);
	border-top-right-radius: calc(var(--border-radius) - var(--padding) - 1px);
}
code:is(.md, .js) { display: block; padding-top: 2.5rem; }
code.md::before { content: "Markdown"; }
code.js::before { content: "Javascript"; }

content {
	display: flex;
	width: 100%;
	align-items: flex-start;
	justify-content: space-between;
	gap: var(--padding)
}

aside {
	float: left;
	min-width: var(--sidebar-width);
	box-sizing: border-box;
	width: 0px;
	max-height: calc(100vh - var(--padding) * 2);
    overflow: auto;
	border-radius: var(--border-radius);
    margin-top: var(--padding);
	display: flex;
	flex-direction: column;
    gap: var(--padding);
}
aside section {
	background: var(--section-background);
	padding: var(--padding);
	border-radius: var(--border-radius);
	box-sizing: border-box;
	color: white;
}
aside section:first-of-type {
	margin-top: 0px;
}
aside::-webkit-scrollbar {
	display: none;
}
aside section div {
	border-radius: calc(var(--border-radius) - var(--padding));
	padding: calc( var(--padding) / 2 );
	box-sizing: border-box;
	background: var(--background);
	margin-top: var(--padding);
	overflow: auto;
	max-height: calc(1rem + 3rem * 4);
}
aside section div:first-of-type {
	margin-top: 0px;
}
aside section div div {
	border-radius: calc(var(--border-radius) - var(--padding) - ( var(--padding) / 2 ) );
	padding: calc( var(--padding) / 4 );
	box-sizing: border-box;
	background: var(--section-background);
	margin-top: calc( var(--padding) / 2 );
}
aside section div div:first-child {
	margin-top: 0px;
}
aside img {
	width: 1rem;
	height: 1rem;
}
main {
	width: 100%;
	margin-top: var(--padding);
	display: flex;
	flex-direction: column;
    gap: var(--padding);
}
main section,
main footer {
	background: var(--section-background);
	padding: var(--padding);
	border-radius: var(--border-radius);
	box-sizing: border-box;
	color: white;
	width: 100%;
}

main section {
	opacity: 0;
	animation: load 400ms forwards;
}
@keyframes load {
	from { opacity: 0; }
	to { opacity: 1; }
}

main section img {
    display: inline-flex;
    float: left;
    width: max-content;
    max-width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    object-position: center center;
    box-sizing: border-box;
    border-radius: calc(var(--border-radius) - var(--padding));
    max-height: 20rem;
}



@media only screen and (width < 750px) {
	content {
		display: flex;
		flex-direction: column-reverse;
	}
	aside {
		width: 100%;
		max-height: none;
		height: auto;
	}
	main {
		width: 100%;
	}
	header h1 {
		font-size: clamp(0px, 7.5vw, 5rem);
	}

	aside section div {
		display: block;
		max-height: 10rem;
		overflow: auto;
	}
}

@media only screen and (width > 900px) {
	aside {
		position: sticky;
		top: var(--padding);
	}
}

p {
	margin: 0px;
}

a:not([stylize=false]) {
	color: white;
	text-decoration: underline;
	transition: background 400ms, color 400ms;
	text-align: center;
	/* background: #e06767; */
	
	text-decoration-color: #e06767;
}

aside a {
	display: block;
}
aside section div a:not([stylize=false]) {

	color: white;
	text-decoration: none;
	transition: background 400ms, color 400ms;
	text-align: center;
	background: #e06767;
	box-sizing: border-box;;
	width: 100%;
	border-radius: calc(var(--border-radius) - var(--padding) - ( var(--padding) / 2 ) );
	padding: calc( var(--padding) / 4 );
	margin-top: calc( var(--padding) / 2 );
}
aside section div a:not([stylize=false]):first-child {
	margin-top: 0px;
}

a:not([stylize=false]):hover,
a:not([stylize=false]):active {
	text-decoration-color: #ffb3b3;
}

aside section div aa:not([stylize=false]):hover,
aside section div aa:not([stylize=false]):active {
	background: #ffb3b3;
	color: black;
}
a:visited,
a:active,
a:link {
	color: white;
}


footer {
	background: var(--section-background);
	border-radius: var(--border-radius);
	padding: var(--padding);
	box-sizing: border-box;
	margin-top: var(--padding);
}

footer img {
	width: 69px;
	height: 69px;
}

footer h1 {
	font-size: 2.5rem;
	padding: 0px;
	height: 69px;
	line-height: 69px;
	margin: 0px;
}

.title {
	display: flex;
	align-items: center;
}

a.title { text-decoration: none; width: min-content; }
a.title h1 { position: relative; }
a.title h1:after {
	content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: 10px;
    background-color: transparent;
	transition: all ease-out 300ms;
}
a.title:hover h1:after {
    bottom: 14px;
    background-color: #e06767;
}




@media (prefers-color-scheme: light) {
	html {
		filter: invert(95%) hue-rotate(180deg);
	}
	img, video, iframe, code, div.code {
		filter: invert(95%) hue-rotate(180deg);
	}
}
footer {
	position: relative;
}
footer .link {
	position: absolute;
	bottom: var(--padding);
	right: var(--padding);
	padding-right: calc(26.6px + var(--padding) / 2);
}

footer .link img {
	width: 26.6px;
	height: 26.6px;
	bottom: 0px;
	position: absolute;
    right: 0px;
    bottom: 0px;
}