:root {
	--page-anim: content-appear;
}

body header * {
	opacity: 1;
	animation: var(--page-anim) 1s forwards;
}

aside section * {
	opacity: 1;
	animation: var(--page-anim) 1s forwards;
}

main section * {
	opacity: 1;
	animation: var(--page-anim) 1s forwards;
}

@keyframes content-appear {
	from {
		opacity: 0;
	}
	50%, to {
		opacity: 1;
	}
}

@keyframes content-disappear {
	from {
		opacity: 1;
	}
	50%, to {
		opacity: 0;
	}
}