section h2 {
	text-decoration: underline;
	text-decoration-color: transparent;
	transition: text-decoration-color 200ms;
}
section h2:hover {
	text-decoration: underline;
	text-decoration-color: #72bf80;
}
section h2::before { content: "## "; }
blockquote { position: relative; }
blockquote::before {
	content: "";
	position: absolute;
	background: #72bf80;
	width: 0.25rem;
	height: 100%;
	left: -1.25rem;
	border-radius: 0.125rem;
}