:root {
	--background: #151515;
	--section-background: #232323;
	--sidebar-width: 20rem;
	--border-radius: 2rem;
	--padding: 1rem;

	--accent1: #FD7170;
	--accent2: #FFB3B3;

	--text-color: white;

	color-scheme: dark;
}